{% extends 'base.html' %}
{% block content %}
<section id='intro' class='container text-center my-5'>
  <h3>Welcome!</h3>
  <p>The games on this site will all be powered by pure typescript and HTML5 elements. This is a place for fun small
  flash-game-like entertainment.</p>

  <h3 class="mb-5">Please Enjoy!</h3>

  <!-- GRID OF NEW GAMES -->
  <h3>New Games:</h3>
  <ul class="row nav">
    <li class="col-md-4">
      <div class="card mt-2">
        <img src="http://via.placeholder.com/300x250" alt="placeholder game image">
        <div class="card-body text-center">
          <h5 class="card-title">Game title</h5>
          <p class="card-text">Short game description</p>
          <div class="row justify-content-center">
            <div class="offset-lg-2"></div>
            <p class="col-lg-4">x Likes</p>
            <a class="col-lg-4 col-6 btn btn-outline-dark px-3" href="/games/1">Play!</a>
          </div>
        </div>
      </div>
    </li>

    <li class="col-md-4">
      <div class="card mt-2">
        <img src="http://via.placeholder.com/300x250" alt="placeholder game image">
        <div class="card-body text-center">
          <h5 class="card-title">Game title</h5>
          <p class="card-text">Short game description</p>
          <div class="row justify-content-center">
            <div class="offset-lg-2"></div>
            <p class="col-lg-4">x Likes</p>
            <a class="col-lg-4 col-6 btn btn-outline-dark px-3" href="/games/2">Play!</a>
          </div>
        </div>
      </div>
    </li>

    <li class="col-md-4">
      <div class="card mt-2">
        <img src="http://via.placeholder.com/300x250" alt="placeholder game image">
        <div class="card-body text-center">
          <h5 class="card-title">Game title</h5>
          <p class="card-text">Short game description</p>
          <div class="row justify-content-center">
            <div class="offset-lg-2"></div>
            <p class="col-lg-4">x Likes</p>
            <a class="col-lg-4 col-6 btn btn-outline-dark px-3" href="/games/3">Play!</a>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <h3 class="my-5">Popular Games:</h3>
  <ul class="row nav">
    <li class="col-md-4">
      <div class="card mt-2">
        <img src="http://via.placeholder.com/300x250" alt="placeholder game image">
        <div class="card-body text-center">
          <h5 class="card-title">Game title</h5>
          <p class="card-text">Short game description</p>
          <div class="row justify-content-center">
            <div class="offset-lg-2"></div>
            <p class="col-lg-4">x Likes</p>
            <a class="col-lg-4 col-6 btn btn-outline-dark px-3" href="/games/1">Play!</a>
          </div>
        </div>
      </div>
    </li>

    <li class="col-md-4">
      <div class="card mt-2">
        <img src="http://via.placeholder.com/300x250" alt="placeholder game image">
        <div class="card-body text-center">
          <h5 class="card-title">Game title</h5>
          <p class="card-text">Short game description</p>
          <div class="row justify-content-center">
            <div class="offset-lg-2"></div>
            <p class="col-lg-4">x Likes</p>
            <a class="col-lg-4 col-6 btn btn-outline-dark px-3" href="/games/2">Play!</a>
          </div>
        </div>
      </div>
    </li>

    <li class="col-md-4">
      <div class="card mt-2">
        <img src="http://via.placeholder.com/300x250" alt="placeholder game image">
        <div class="card-body text-center">
          <h5 class="card-title">Game title</h5>
          <p class="card-text">Short game description</p>
          <div class="row justify-content-center">
            <div class="offset-lg-2"></div>
            <p class="col-lg-4">x Likes</p>
            <a class="col-lg-4 col-6 btn btn-outline-dark px-3" href="/games/3">Play!</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
{% endblock %}
