{% extends 'base.html' %}
{% block content %}

<section class="container my-5 text-center">
  <h1>All Games:</h1>
  <ul class='w-100 d-flex flex-column align-items-center text-left'>
    <li class="row w-75 border border-dark">
      <div class="col-3 border-right border-dark d-flex justify-content-center py-3">
        <img src="http://via.placeholder.com/100x100" alt="game placeholder image">
      </div>
      <div class="col-7 border-right d-flex flex-column justify-content-center">
        <h3>Game Title</h3>
        <p class='text-muted'>Game description</p>
      </div>
      <div class="col-2 px-0">
        <a class='btn btn-secondary rounded-0 border-0 w-100 h-100 m-0 d-flex align-items-center justify-content-center' href="./games/0"><h3>Play!</h3></a>
      </div>
    </li>

    <li class="row w-75 border border-top-0 border-dark">
      <div class="col-3 border-right border-dark d-flex justify-content-center py-3">
        <img src="http://via.placeholder.com/100x100" alt="game placeholder image">
      </div>
      <div class="col-7 border-right d-flex flex-column justify-content-center">
        <h3>Game Title</h3>
        <p class='text-muted'>Game description</p>
      </div>
      <div class="col-2 px-0">
        <a class='btn btn-secondary rounded-0 border-0 w-100 h-100 m-0 d-flex align-items-center justify-content-center' href="./games/1"><h3>Play!</h3></a>
      </div>
    </li>

    <li class="row w-75 border border-top-0 border-dark">
      <div class="col-3 border-right border-dark d-flex justify-content-center py-3">
        <img src="http://via.placeholder.com/100x100" alt="game placeholder image">
      </div>
      <div class="col-7 border-right d-flex flex-column justify-content-center">
        <h3>Game Title</h3>
        <p class='text-muted'>Game description</p>
      </div>
      <div class="col-2 px-0">
        <a class='btn btn-secondary rounded-0 border-0 w-100 h-100 m-0 d-flex align-items-center justify-content-center' href="./games/2"><h3>Play!</h3></a>
      </div>
    </li>

    <li class="row w-75 border border-top-0 border-dark">
      <div class="col-3 border-right border-dark d-flex justify-content-center py-3">
        <img src="http://via.placeholder.com/100x100" alt="game placeholder image">
      </div>
      <div class="col-7 border-right d-flex flex-column justify-content-center">
        <h3>Game Title</h3>
        <p class='text-muted'>Game description</p>
      </div>
      <div class="col-2 px-0">
        <a class='btn btn-secondary rounded-0 border-0 w-100 h-100 m-0 d-flex align-items-center justify-content-center' href="./games/3"><h3>Play!</h3></a>
      </div>
    </li>

    <li class="row w-75 border border-top-0 border-dark">
      <div class="col-3 border-right border-dark d-flex justify-content-center py-3">
        <img src="http://via.placeholder.com/100x100" alt="game placeholder image">
      </div>
      <div class="col-7 border-right d-flex flex-column justify-content-center">
        <h3>Game Title</h3>
        <p class='text-muted'>Game description</p>
      </div>
      <div class="col-2 px-0">
        <a class='btn btn-secondary rounded-0 border-0 w-100 h-100 m-0 d-flex align-items-center justify-content-center' href="./games/4"><h3>Play!</h3></a>
      </div>
    </li>
  </ul>
</section>

{% endblock %}
