{% extends 'base.html' %}
{% block content %}
<section class="container  my-5 d-flex flex-column align-items-center text-center">
  <h1>Game Name (id - {{game_id}})</h1>
  <p>Note: no games are complete, this is a placeholder canvas</p>
  <canvas width=750 height=500 ></canvas>

  <h3 class="mt-5">Description:</h3>
  <p class="w-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusantium consequatur delectus voluptates quidem rerum at. Tenetur iste in deleniti dolores corrupti quod fugiat quia nobis, aperiam unde eius a.</p>
</section>
{% endblock %}
